@charset "utf-8";

/*********************************************
 *** CM00001 TOP画面 *** 
 *********************************************/

/*ログイン後のトップ画面にある「TEST」ボタンを非表示にする*/
#search_divid_0 {
    display:none;
}
