/*@charset "utf-8";*/

/*********************************************
 *** DM0001：機能個別設定用テンプレート *** 
 *********************************************/


/*一覧画面 一覧タイトル「添付情報」を非表示*/
#BODY_020_00_LST_0_0_div > .tbl_title .title {
    display : none;
}