@charset "utf-8";

/*********************************************
 *** HM0001：機能個別設定用テンプレート *** 
 *********************************************/

/*詳細画面で非表示にするボタン*/
.displayNone {
    display: none !important;
}
