@charset "utf-8";

/*********************************************
 *** HM0001：機能個別設定用テンプレート *** 
 *********************************************/

/* 帳票出力画面 From-To指定の項目の余分なスペースを削除 */
.unit_hide td .date_div span.unit {
    display: none;
}