@charset "utf-8";

/*********************************************
 *** MA0001：機能個別設定用テンプレート *** 
 *********************************************/

/*readonlyが付与されているセルのラベル化解除*/
.tabulator-cell.not_readonly div.substance {
    display: inline-block !important;
}

.tabulator-cell.not_readonly span.labeling {
    display: none !important;
}

/*担当者検索画面*/
.SU0001_SelectUser {
    /*検索結果一覧の「選択」列のボタン幅を変更*/
    min-width: 50px !important;
}

/*機器交換画面 グループ化した要素の折り畳みリンクを非表示*/
#formDetail_3 > .detail_div > .tbl_title {
    display: none;
}

/*対象機器一覧の作業記録列のレイアウト修正(詳細画面・詳細編集画面に適用される)*/
.work_record_height {
    /*テキストエリアの高さは自動調整*/
    height: auto;

    /*1行の高さ*/
    line-height: 1;


}

/*背が高いテキストエリア*/
.TextAreaResize {
    /*テキストエリアの高さ調整*/
    height: 80px;
    /*1行の高さ*/
    line-height: 1;
}

/*背が高く、入力してほしいテキストエリア*/
.TextAreaResizeRequired {
    /*テキストエリアの高さ調整*/
    height: 80px;
    /*1行の高さ*/
    line-height: 1;
    /*水色背景*/
    background-color: #e0ffff
}

.TextAreaResizeRequiredTrouble {
    /*テキストエリアの高さ調整*/
    height: 80px;
    /*1行の高さ*/
    line-height: 1;
    /*クリーム色背景*/
    background-color: #ffefd5
}

.Required {
    /*水色背景*/
    background-color: #e0ffff
}

.RequiredTrouble {
    /*クリーム色背景*/
    background-color: #ffefd5
}
