@charset "utf-8";

/*********************************************
 *** MA0001：機能個別設定用テンプレート *** 
 *********************************************/

/*readonlyが付与されているセルのラベル化解除*/
.tabulator-cell.not_readonly div.substance {
    display: inline-block !important;
}
.tabulator-cell.not_readonly span.labeling {
    display: none !important;
}

/*担当者検索画面*/
.SU0001_SelectUser {
    /*検索結果一覧の「選択」列のボタン幅を変更*/
    min-width: 50px !important;
}

/*機器交換画面 グループ化した要素の折り畳みリンクを非表示*/
#formDetail_3 > .detail_div > .tbl_title {
    display: none;
}
