/*@charset "utf-8";*/

/*********************************************
 *** _template：機能個別設定用テンプレート *** 
 *********************************************/

.clickedButton {
    background-color: #b0e0e6;
}

    .clickedButton:hover {
        background-color: #1e90ff;
    }

/*帳票出力画面*/
.RM0001_Hide {
    /*項目を非表示にする*/
    display: none;
}
/*担当者検索画面*/
.SP0001_SelectParts {
    /*検索結果一覧の「選択」列のボタン幅を変更*/
    min-width: 50px !important;
}

/*データのNo.リンクを無効にする*/
.linkDisable {
    pointer-events: none;
}

/*機器別管理基準 保全項目編集画面で スケジュールを更新 が入力エラーの際に付与されるクラス*/
.updateScheduleError {
    background-color: #ffb6c1 !important;
}

/*詳細画面-保全活動タブの保全活動一覧に設定*/
.MaintainanceTabList {
    /*位置を変更する*/
    position: relative;
    top: -40px;
}

/*詳細画面-保全活動タブの 新規 ボタンに設定*/
/*保全活動一覧にレコードが表示されている場合*/
.MaintainanceListHasData {
    /*位置を変更する*/
    position: relative;
    left: 500px;
    z-index:1;
}

/*詳細画面-保全活動タブの 新規 ボタンに設定*/
/*保全活動一覧にレコードが表示されていない場合*/
.MaintainanceListHasNotData {
    /*位置を変更する*/
    position: relative;
    left: 500px;
    top: -10px;
    z-index: 1;
}
