/*@charset "utf-8";*/

/*********************************************
 *** _template：機能個別設定用テンプレート *** 
 *********************************************/

.clickedButton {
    background-color: #b0e0e6;
}
.clickedButton:hover {
    background-color: #1e90ff;
}

/*帳票出力画面*/
.RM0001_Hide {
    /*項目を非表示にする*/
    display:none;
}
/*担当者検索画面*/
.SP0001_SelectParts {
    /*検索結果一覧の「選択」列のボタン幅を変更*/
    min-width: 50px !important;
}