@charset "utf-8";

/*********************************************
 *** PT0010：機能個別設定用テンプレート *** 
 *********************************************/

/*部門選択一覧を勘定科目選択一覧の横に配置する*/
#BODY_010_00_LST_0_0_div {
    position: relative;
    left: 350px;
    bottom: 192px;
}
