@charset "utf-8";

/*********************************************
 *** PT0001：機能個別設定用テンプレート *** 
 *********************************************/

/***********************一覧画面*************************/

/*一覧画面の「入庫」「出庫」「移庫」ボタンの文言の位置を調整*/
.SearchListBtn {
    padding-left: 9px !important;
}

/*在庫数が発注点以下の場合は背景色を黄色に変更*/
.tabulator-row.tabulator-row-even.orderAlert, .tabulator-row.tabulator-row-odd.orderAlert {
    background-color: lightyellow !important;
}

/********************************************************/




/***********************詳細画面*************************/

/*「棚別在庫一覧」「部門別在庫一覧」ボタンクリック時のボタン色スタイル*/
.clickedButton {
    background-color: lightgray;
}

/*タブ上部のスクロールバーを非表示にする*/
#grp_id_detail201_1 {
    overflow-x: hidden;
}

/*画像　位置を調整*/
#BODY_020_00_LST_1_1_div {
    float: left;
}

/*画像　位置を調整*/
#BODY_030_00_LST_1_1_div {
    position: relative;
    left: 200px;
}

/*購買管理情報　位置を調整*/
#BODY_040_00_LST_1_1_div {
    clear: both;
}

/*入出庫履歴タブ 表示年度のテキストボックスの幅を変更*/
#BODY_120_00_LST_1_1VAL1, #BODY_120_00_LST_1_1VAL1To {
    width: 50px !important;
}

/*入出庫履歴一覧の繰越のデータのNo.リンクを無効にする*/
.linkDisable {
    pointer-events: none;
}

/********************************************************/



/*********************詳細編集画面***********************/

/*枝番を標準棚番の横に配置*/
#BODY_040_00_LST_2_2_div {
    float: left;
}

/*棚番と枝番のコントトールが重ならないように調整*/
#BODY_070_00_LST_2_2_div {
    margin-left: 210px;
}

/********************************************************/



/***********************ラベル出力画面*************************/

/*部門選択一覧を勘定科目選択一覧の横に配置する*/
#BODY_000_00_LST_3_3_div {
    float: left;
}

#BODY_010_00_LST_3_3_div {
    margin-left: 350px;
}

#BODY_010_00_LST_3_3 {
    width: 300px !important;
}
/**************************************************************/



/***********モーダル表示した「入庫入力画面」**********/

/*棚枝番を棚番の横に配置*/
#CBODY_030_00_LST_5_0_div {
    float: left;
}

/*棚番と棚枝番のコントトールが重ならないように調整*/
#CBODY_050_00_LST_5_0_div {
    margin-left: 210px;
}

/*入庫情報 グループ化した要素の折り畳みリンクを非表示*/
#detail_divid_PT0005 > .tbl_title > a {
    display: none;
}


/*********************************************************/



/***********モーダル表示した「移庫入力画面-棚番移庫タブ」**********/

/*移庫先情報　「移庫先」の背景色を変更*/
.ctrlId[data-ctrlid="CBODY_020_00_LST_7"] tr td[data-name="VAL1"] {
    background-color: #f3f3f3;
}
/*移庫情報　ヘッダー部分の「移庫日」を非表示*/
.ctrlId[data-ctrlid="CBODY_020_00_LST_7"] tr th[data-name="VAL1"] {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/*枝番を標準棚番の横に配置*/
#CBODY_070_00_LST_7_0_div {
    float: left;
}

/*棚番と枝番のコントトールが重ならないように調整*/
#CBODY_080_00_LST_7_0_div {
    margin-left: 210px;
}

/*移庫数のテキストボックスの幅調整*/
input#CBODY_090_00_LST_7_0VAL1 {
    width: 110px !important;
}
/*********************************************************/




/**********モーダル表示した「移庫入力画面－部門移庫タブ」のスタイル**********/

/*移庫先情報　「移庫先」の背景色を変更*/
.ctrlId[data-ctrlid="CBODY_050_00_LST_7"] tr td[data-name="VAL1"] {
    background-color: #f3f3f3;
}
/*移庫情報　ヘッダー部分の「移庫日」を非表示*/
.ctrlId[data-ctrlid="CBODY_050_00_LST_7"] tr th[data-name="VAL1"] {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
/*********************************************************/
