@charset "utf-8";

/*********************************************
 *** _template：機能個別設定用テンプレート *** 
 *********************************************/

/*一覧画面 棚卸データ一覧のタイトルを非表示*/
#BODY_040_00_LST_0_0_div > .tbl_title .title {
    display: none;
}

/*一覧画面の棚卸調整データタブ内のボタン色*/
.clickedButton {
    background-color: #b0e0e6;
}
.clickedButton:hover {
    background-color: #1e90ff;
}

/*readonlyが付与されているセルのラベル化解除*/
.tabulator-cell.not_readonly div.substance {
    display: inline-block !important;
}

.tabulator-cell.not_readonly span.labeling {
    display: none !important;
}

/*入出庫履歴一覧の繰越のデータのNo.リンクを無効にする*/
.linkDisable {
    pointer-events: none;
}


/***********モーダル表示した「移庫入力画面-棚番移庫タブ」**********/

/*移庫先情報　「移庫先」の背景色を変更*/
.ctrlId[data-ctrlid="CBODY_020_00_LST_7"] tr td[data-name="VAL1"] {
    background-color: #f3f3f3;
}
/*移庫情報　ヘッダー部分の「移庫日」を非表示*/
.ctrlId[data-ctrlid="CBODY_020_00_LST_7"] tr th[data-name="VAL1"] {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/*枝番を標準棚番の横に配置*/
#CBODY_070_00_LST_7_0_div {
    float: left;
}

/*棚番と枝番のコントトールが重ならないように調整*/
#CBODY_080_00_LST_7_0_div {
    margin-left: 210px;
}

/*移庫数のテキストボックスの幅調整*/
input#CBODY_090_00_LST_7_0VAL1 {
    width: 110px !important;
}
/*********************************************************/




/**********モーダル表示した「移庫入力画面－部門移庫タブ」のスタイル**********/

/*移庫先情報　「移庫先」の背景色を変更*/
.ctrlId[data-ctrlid="CBODY_050_00_LST_7"] tr td[data-name="VAL1"] {
    background-color: #f3f3f3;
}
/*移庫情報　ヘッダー部分の「移庫日」を非表示*/
.ctrlId[data-ctrlid="CBODY_050_00_LST_7"] tr th[data-name="VAL1"] {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
/*********************************************************/



/***********モーダル表示した「入庫入力画面」**********/

/*棚枝番を棚番の横に配置*/
#CBODY_030_00_LST_5_0_div {
    float: left;
}

/*棚番と棚枝番のコントトールが重ならないように調整*/
#CBODY_050_00_LST_5_0_div {
    margin-left: 210px;
}

/*入庫情報 グループ化した要素の折り畳みリンクを非表示*/
#detail_divid_PT0005 > .tbl_title > a {
    display: none;
}

/*入庫単価の単位の右側に表示されている新品購入時の単価*/
.newest_price {
    display: block;
    position: relative;
    left: -100px;
    text-align: right;
    width: 100px;
    border: none !important;
}

.border-none {
    border: none !important;
}


/*********************************************************/
