/*@charset "utf-8";*/

/*********************************************
 *** RM0002：機能個別設定用テンプレート *** 
 *********************************************/

.clickedButton {
    background-color: lightgray;
}
