body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    --max-width: 280px;
}

/* ブラウザのオートコンプリートでの背景色変更を回避 */
input:-webkit-autofill {
    animation-name: onAutoFillStart;
    transition: background-color 50000s ease-in-out 0s;
}

/* プルダウンのサイズ指定 列幅130用 */
.select130-maxsize {
    max-width: 130px;
}

/* プルダウンのサイズ指定 列幅180用 */
.select180-maxsize {
    max-width: 180px;
}

/* プルダウンのサイズ指定 絞込件数用 */
.DispCount {
    max-width: 60px;
}

