<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- DB接続情報(SQLServer) -->
    <add key="SqlSvrDataSource" value="192.168.100.118" />
    <add key="SqlSvrDbName" value="akapNew2" />
    <add key="SqlSvrUserId" value="sa" />
    <add key="SqlSvrPass" value="Atts1001" />
    <!-- DB接続情報(Oracle) -->
    <add key="OrclDbName" value="ORCL115" />
    <add key="OrclUserId" value="LEONA_G" />
    <add key="OrclPass" value="LEONA_G" />
    <!-- DB接続情報(PostgreSQL) -->
    <!--
    <add key="PostgreSqlDataSource" value="192.168.100.117" />
    <add key="PostgreSqlPort" value="5432" />
    <add key="PostgreSqlDbName" value="JECHIN" />
    <add key="PostgreSqlUserId" value="JECHIN" />
    <add key="PostgreSqlPass" value="JECHIN" />
    -->
    <!-- ######## プロジェクト別設定 ######## -->
    <!-- 接続DB 1:SqlServer,2:Oracle,3:Postgre-->
    <add key="DbFlg" value="2" />
    <!-- 登録・更新ユーザ -->
    <add key="UserId" value="testuser" />
    <!-- 登録・更新端末 -->
    <add key="TerminalId" value="System" />

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>